{% extends "shop/base.html" %}
{% load static %}
{% block title %}خانه{% endblock %}
{% block content %}

<div class="main-shopping">
        <div class="col-12 text-center">
            <div class="complate-page-container">
                <div class="success-checkout">
                    <div class="container">
                        <div class="icon-success warning">
                            <span class="fa fa-close"></span>
                        </div>
                        <div class="order-success">
                            سفارش 
                            <a href="#" class="order-code">DKC-57262900</a>
                            در سیستم ثبت شد اما پرداخت ناموفق بود
                            
                            <span class="text-warning">برای جلوگیری از لغو سیستمی سفارش،تا 24 ساعت آینده پرداخت را انجام دهید.</span>
                            
                            <span class="order-ready-post">چنانچه طی این فرایند مبلغی از حساب شما کسر شده است،طی 72 ساعت آینده به حساب شما باز خواهد گشت.</span>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>

{% endblock %}