{% extends "store/base.html" %}
{% load static %}
{% block title %}ثبت نام{% endblock %}
{% block content %}
    <div id="main">
        <div class="col-lg-4 col-md-6 col-xs-12 mx-auto">
            <div class="account-box">
                <span class="account-head-line">ثبت نام در آسونا</span>

                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    <div class="content-account">
                        <div class="massege-light">ثبت نام تنها با شماره تلفن همراه امکان پذیر است.</div>
                        <div class="massege-light">شماره موبایل خود را بدون صفر وارد کنید .</div>
                        <label for="email-phone">شماره موبایل</label>
                        <input type="tel" id="phone" name="phone" class="input-email-account" placeholder="">

                        <label for="email-phone">نام</label>
                        <input type="text" id="first_name" name="first_name" class="input-email-account" placeholder="">

                        <label for="email-phone">نام خانوادگی</label>
                        <input type="text" id="last_name" name="last_name" class="input-email-account" placeholder="">

                        <label for="email-phone">کد ملی</label>
                        <input type="text" id="national_code" name="national_code" class="input-email-account"
                               placeholder="">

                        <label for="email-phone">اسم مغازه</label>
                        <input type="text" id="shop_name" name="shop_name" class="input-email-account" placeholder="">

                        <label for="email-phone">آدرس مغازه</label>
                        <input type="text" id="address" name="address" class="input-email-account" placeholder="">

                        <div class="parent-btn">
                            <button class="dk-btn dk-btn-info">
                                ثبت نام در آسونا
                                <i class="mdi mdi-account-plus-outline sign-in"></i>
                            </button>
                        </div>

                        <div class="form-auth-row">
                            <label for="#" class="ui-checkbox">
                                <input type="checkbox" value="1" name="login" checked="" id="remember">
                                <span class="ui-checkbox-check"></span>
                            </label>
                            <label for="remember" class="remember-me"><a href="#">حریم خصوصی</a> و <a href="#">شرایط
                                قوانین</a>استفاده از سرویس های سایت آسونا را مطالعه نموده و با کلیه موارد آن
                                موافقم.</label>
                        </div>
                    </div>
                </form>

                <div class="account-footer">
                    <span>قبلا در آسونا ثبت‌نام کرده‌اید؟</span>
                    <a href="{% url 'login' %}" class="btn-link-register">وارد شویــد</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}